a{
    margin-left: 600px;
    text-align: center;
    text-decoration: none;
}
h1{
    text-align: center;
    font-family: cursive;
    background-color: rgb(255, 255, 255);
}
a:hover{
    background-color: khaki;
    border: 2px;
    border-color: black;
}
   nav{
    background-color: rgba(45, 173, 233, 0.221);
    padding-top: 25px;
    padding-bottom: 25px;
   } 
span{
    color: skyblue;
}


video{
      padding-left: 3px;
      padding-right: 10px;
       width: 600px;
       
}
.box{
    display: flex;
}