<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMW</title>
</head>
<body>
    <div class="container">
    <img src="bmw1.jpeg"> </div>
    
    <p>From a company that manufactured aircraft engines, BMW has evolved into one of the top producers of not 
    only some of Europe's finest luxury cars but also some of the very best motorcycles, raking in 6 figures 
    in yearly sales. BMW has been producing motorcycles since 1923. The first BMW bike, the R32, ran on an 8.5 hp 
    494cc flat-twin engine and had a top speed of 59 mph. In 2011, their two millionth bike—an R 1200 GS—was built.

             Today, the company's motorcycles are light-years away in terms of design, performance, equipment, 
             and functions from what they used to be. BMW motorcycles are perfectly engineered and technologically 
             advanced machines that are well-equipped to give riders the ultimate experience.

             There is something from the stables of BMW for everyone: from tourers, adventure bikes, classic 
             cruisers, and sportbikes to scooters. Out of the multitude of new BMW motorcycles available on the 
             market in 2021, we have ranked the coolest in performance and features, so read on for the complete 
             list.</p>
           
</body>


</html>